    <div class="col s12 m12 z-depth-4 margin">
      <div class="card light-blue darken-1">
        <div class="card-content white-text">
          <span class="card-title"><%= p.title %></span>
          <p><%= p.body.toString() %></p>
        </div>
        <div class="card-action">
          <a href="/post/<%= p.id %>"}`>continue to read...</a>
        </div>
      </div>
    </div>