<footer class="page-footer light-blue">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Footer Content</h5>
        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li>
            <a class="grey-text text-lighten-3" href="https://github.com/aymen94/my-light-blog">for repo</a>
          </li>
          <li>
            <a class="grey-text text-lighten-3" href="https://aymen94.github.io/">my personal page</a>
          </li>
          <li>
            <a class="grey-text text-lighten-3" href="https://github.com/aymen94">Other Projects</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <a class="white-text" href="https://github.com/aymen94/my-light-blog"> © 2018 My light blog</a>
    </div>
  </div>
</footer>